.App {
  background-color: #282c34;
  color: azure;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(2vmin);
  padding: 5% 10%;
}

Table #img {
  text-align: center;
}
Table #img img {
  width: calc(5vmin);
}

.bg-dark {
  color: azure !important;
}